@{
  Layout = "_Layout";
}





@model List<Shoplister.Models.ItemStore> 

<h1>@Html.DisplayName(Model.FirstOrDefault().Store.StoreName): @Html.Display(Model.FirstOrDefault().Store.StoreName)</h1>
@if (Model.Any())
{
  <h2>Items to get at this store: </h2>
  @using (Html.BeginForm())
  {  
  <ul>
    @for(int i = 0; i < Model.Count; i++)
    {
      @if (Model[i].Item.Checked == false)
      {
        <li>
          @Html.HiddenFor(x => x[i].ItemId)
          @Html.ActionLink(Model[i].Item.ItemName, "Edit", "Items", new { id = Model[i].Item.ItemId })
          @Html.CheckBoxFor(x => x[i].Item.Checked)
          @Html.DisplayFor(x => x[i].Item.Notes)
        </li>
      }
    }
  </ul>
  <h2>Checked Off Items:</h2>
  <ul>
    @for(int i = 0; i < Model.Count; i++)
    {
      @if (Model[i].Item.Checked == true)
      {
        <li>
          @Html.HiddenFor(x => x[i].ItemId)
          @Html.HiddenFor(x => x[i].ItemStoreId)
          @Model[i].Item.ItemName
          @Html.CheckBoxFor(x => x[i].Item.Checked)
          @Html.DisplayFor(x => x[i].Item.Notes)
        </li>
      }
    }
  </ul>   
  <input type="submit" value="Check/Uncheck" />
  }
}
else
{
  <h3>No items have been assigned to this store.</h3>
}

@* <button class="btn-light">@Html.ActionLink("Add an Item", "AddItem")</button> *@