@{
  Layout = "_Layout";
}

@model Shoplister.Models.Item

<h2>Edit This Item</h2>
<hr>

@using (Html.BeginForm())
{
  <div class="container-form">
    @Html.HiddenFor(model => model.ItemId)
    @Html.LabelFor(model => model.ItemName):
    @Html.EditorFor(model => model.ItemName, new {require = "required"})
    @Html.LabelFor(model => model.Notes):
    @Html.EditorFor(model => model.Notes)
    @Html.LabelFor(model => model.ProductType):
    @Html.EditorFor(model => model.ProductType)
  </div>
  <br>
  <br>
  <input style="color: blue; font-size: 1.2em;" type="submit" class="btn btn-success" value="Save" />
  <br>
  <br>
}
  <button style="font-size: 1.2em;" class="btn btn-success">@Html.ActionLink("Assign a Store", "AddStore", new { id = Model.ItemId })</button>
  <br>
  <br>
  <button style="color: black; font-size: 1.2em;" class="btn btn-danger">@Html.ActionLink("Delete Item", "Delete", new { id = Model.ItemId })</button>