@{
  Layout = "_Layout";
}

@using Shoplister.Models;
@model List<Shoplister.Models.Item>

@if (Model.Any())
{
  <h1>Unchecked Items for: @User.Identity.Name</h1>
  @using (Html.BeginForm())
  {
  <ul>
    @for(int i = 0; i < Model.Count; i++)
    {
      @if (Model[i].Checked == false)
      {
        <li>
          @Html.HiddenFor(x => x[i].ItemId)
          @Html.ActionLink(Model[i].ItemName, "Edit", new { id = Model[i].ItemId })
          @Html.DisplayFor(x => x[i].Notes)
          @Html.CheckBoxFor(x => x[i].Checked)
        </li>
      }
    }
  </ul>
  <h1>Checked Items:</h1>
  <ul>
    @for(int i = 0; i < Model.Count; i++)
    {
      @if (Model[i].Checked == true)
      {
        <li>
          @Html.HiddenFor(x => x[i].ItemId)
          @Html.DisplayFor(x => x[i].ItemName)
          @Html.CheckBoxFor(x => x[i].Checked)
        </li>
      }
    }
  </ul>
  <input type="submit" value="Check/Uncheck" />
  }
}
else
{
  <h3>No items have been added yet!</h3>
}

<p>@Html.ActionLink("Add New Item", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>


@* @model List<ToDoList.Models.Item>;

<h1>Items</h1>

@if (@Model.Count == 0)
{
  <h3>No items have been added yet!</h3>
}
@using (Html.BeginForm())
{
<ul>
  @for(int i = 0; i < Model.Count; i++)
  {
    <li>
        @Html.HiddenFor(x => x[i].ItemId)
        @Html.HiddenFor(x => x[i].Description)
        @Html.CheckBoxFor(x => x[i].Completed)
        @Html.ActionLink($"{Model[i].Description}", "Details", new { id = Model[i].ItemId })
    </li>
  }
</ul>

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Add new item", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p> *@