@{
  Layout = "_Layout";
}

@model List<Shoplister.Models.Item>

@if (Model.Any())
{
  @using (Html.BeginForm())
  {
    <div class="container-columns">
      <div class="row">
        <div class="col-sm">
          <h2>Unchecked Items:</h2>
          <hr />
          <ul>
            @for(int i = 0; i < Model.Count; i++)
            {
              @if (Model[i].Checked == false)
              {  
                <li>
                  @Html.HiddenFor(x => x[i].ItemId)
                  @Html.CheckBoxFor(x => x[i].Checked, new { @class="checkbox-size" })
                  @Html.ActionLink(Model[i].ItemName, "Edit", new { id = Model[i].ItemId }, new { @style="font-size: 1.35em;" }) - 
                  Notes: @Html.DisplayFor(x => x[i].Notes)
                </li>                
              }
            }
          </ul>
          <br>
        </div>
        <div class="col-sm">
          <h2>Checked Items:</h2>
          <hr />
          <ul>
            @for(int i = 0; i < Model.Count; i++)
            {
              @if (Model[i].Checked == true)
              {
                <div class="checked">
                  <li>
                    @Html.HiddenFor(x => x[i].ItemId)
                    @Html.CheckBoxFor(x => x[i].Checked, new { @class="checkbox-size" })
                    @Html.DisplayFor(x => x[i].ItemName)
                  </li>
                </div>
              }
            }
          </ul>
        </div>
      </div>
    </div>
  <input class="btn btn-success" style="color: blue" type="submit" value="Check/Uncheck" />
  <br>
  <br>
  }
}
else
{
  <h3>No items have been added yet!</h3>
}

<button class="btn btn-success">@Html.ActionLink("Add New Item", "Create")</button>


@* @model List<ToDoList.Models.Item>;

<h1>Items</h1>

@if (@Model.Count == 0)
{
  <h3>No items have been added yet!</h3>
}
@using (Html.BeginForm())
{
<ul>
  @for(int i = 0; i < Model.Count; i++)
  {
    <li>
        @Html.HiddenFor(x => x[i].ItemId)
        @Html.HiddenFor(x => x[i].Description)
        @Html.CheckBoxFor(x => x[i].Completed)
        @Html.ActionLink($"{Model[i].Description}", "Details", new { id = Model[i].ItemId })
    </li>
  }
</ul>

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Add new item", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p> *@