@{
  Layout = "_Layout";
}

@using Shoplister.ViewModels

@model LoginViewModel

<h2>Log in With Your Account</h2>
<hr />
@using (Html.BeginForm())
{
  <div class="container-login">
    @Html.LabelFor(m => m.UserName):
    @Html.TextBoxFor(m => m.UserName)

    @Html.LabelFor(m => m.Password):
    @Html.PasswordFor(m => m.Password)
  </div>
  <br>
  <div class="button-div">
    <input style="color: blue" type="submit" value="Log In" class="btn btn-success" />
    <br>
    <br>
    <button class="btn btn-success">@Html.ActionLink("Register", "Register", "Account")</button>
  </div>
}
