@{
  Layout = "_Layout";
}

@using Shoplister.ViewModels

@model RegisterViewModel

<h2>Register an Account</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.LabelFor(user => user.UserName)
    @Html.TextBoxFor(user=> user.UserName) 

    @Html.LabelFor(user=> user.Password)
    @Html.PasswordFor(user=> user.Password)

    @Html.LabelFor(user=> user.ConfirmPassword)
    @Html.PasswordFor(user=> user.ConfirmPassword)

    <p>UserName: no spaces</p>
    <p>Password: at least 6 character, 1 capital letter, 1 number, and 1 special character</p>

    <input type="submit" class="btn btn-dark" value="Register" />
}